.home{
    background-image: linear-gradient(rgb(190, 218, 246),rgb(245, 240, 240));
    height: 100vh;
    text-align: center;
}

.input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  .div{
      padding: 20px;
  }
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-image: linear-gradient(rgb(225, 239, 245),white);
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .image {
    border-radius: 8px;
    padding: 3%;
    display: flex;
  }
  
  div.container {
    text-align: center;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  .column img {
    margin-top: 12px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
 .link{
   text-decoration: none;
 }