.navbar{
    background-image: linear-gradient(rgba(245, 241, 241, 0.592),white);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}
.nav-logo{
    color:#fff;
    margin-left:50px ;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap:10px;
    text-align: center;
    width: 80vw;
    list-style: none;
    justify-content: end;
}
.nav-links{
    color: rgb(34, 19, 19);
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.nav-links:hover{
    background-color: rgb(106, 191, 219);
    border-radius:4px ;
    transition: all .2s ease-out;
}
.menu-icon{
    display: none;
}
@media only screen and (max-width:960px){
    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.8rem;
        color: rgb(59, 158, 189);
        transform:translate(-100%,55%);
        cursor: pointer;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 10vh;
        left: -100%;
        transition: all .4s ease;
        overflow: auto;
        opacity: 0;
    }
    .nav-menu.active{
        background-color: #2c9ad1;
        left: 0;
        transition: all .5s ease;
        z-index: 1;
        opacity: 1;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }
    .nav-links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .nav-links:hover{
        background-color:#fff;
        border-radius: 0;
        color:orange;

    }
    .nav-logo{
        position: absolute;
        top: 0;
        left: 0;
        transform: translatez(25%,50%);
        margin-left: 0;
    }
}
@media only screen and (max-width:400px){
    .nav-logo{
        font-size: .7rem;
    }
    .menu-icon{
        font-size: 1rem;
        transform: translate(1%,25%);
    }
}
