.App{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.main-nav{
  width: 100%;
  position: relative;
  overflow: hidden;
}
.topnav{
  float: right;
  overflow: hidden;
  background-image: linear-gradient(orange,red);
  width: 100%;
  height: max-content;
  padding: 0px 107px;
  text-align: left;
 
  
}
.topnav a{
  color: black;
  padding: 25px;
  text-decoration: none;
  font-size: 17px;
  float: right;
  grid-column: 3/4;
}
.topnav ul{
  height: 5rem;
  display: flex;
  justify-content: space-around;

}
.topnav a:hover{
  background-color:white;
  color: rgb(51, 48, 48);
  border-radius: 9px;
}

@media screen and (max-width:100px) {
  .topnav a:not(:first-child){display: none;}
  .topnav a.icon{
      float: right;
      display: block;
  }    
}
@media screen and (max-width:100px) {
  .topnav.responsive{
      position: relative;
  }
  .topnav.responsive.icon{
      position: absolute;
      right: 0;
      top: 0;
  }
  .topnav.responsive a{
      float: none;
      display: block;
      text-align: left;
  }
}
.topnav img{
  width: max-content;
  height: 70px;
  padding: 0px 167px;
}


